@import url();

html,
body {
  min-height: 100%;
}

body {
  background-image: url("../../public/assets/media/fondo-pacman.webp");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px;
}

header {
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

.mainContent {
  margin-top: 15%;
}

#pacman-main-image,
#fantasmito-image,
#pacman-header-logo,
#pacman-header-image {
  width: 100px;
  height: 100px;
}

#pacman-image-2 {
  display: none;
}
